<div class="main-container">
    <div class="header">
<!--        <div [formGroup]="searchForm">-->
<!--            <mat-form-field appearance="fill" floatLabel="auto">-->
<!--                <mat-label>Search for a country</mat-label>-->
<!--                <input matInput formControlName="searchTerm" />-->
<!--                <mat-icon matPrefix>search</mat-icon>-->
<!--            </mat-form-field>-->
<!--        </div>-->
    </div>
    <div class="main-container__country-list">
        <div class="main-container__country-list__item" *ngFor="let country of countriesList; let i = index;">
            <mat-card>
                <img mat-card-image ngSrc="{{country['flags']['png']}}" width="400" height="200" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="country-name">
                        <strong>{{country?.name.common }}</strong>
                    </div>
                    <div class="country-info">
                        <div class="row">
                            <span class="label">
                              Population:
                            </span>
                            <span class="value">
                                {{ country?.population }}
                            </span>
                        </div>
                        <div class="row">
                            <span class="label">
                              Region:
                            </span>
                            <span class="value">
                                {{ country?.region }}
                            </span>
                        </div>
                        <div class="row">
                            <span class="label">
                              Capital:
                            </span>
                            <span class="value">
                                {{ country?.capital ? country?.capital[0] : '' }}
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
