<div class="main-container">
    <div class="main-container__header" [formGroup]="searchForm">
      <mat-form-field class="name-filter" floatLabel="auto">
        <mat-label>Search for a country</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="" formControlName="searchTerm"/>
      </mat-form-field>

      <mat-form-field class="region-filter" floatLabel="auto">
        <mat-label>Filter By Region</mat-label>
        <mat-select (selectionChange)="onSelectRegion($event)">
          <mat-option *ngFor="let region of availableRegions" value="{{ region }}">{{ region }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="main-container__country-list">
        <div class="main-container__country-list__item" *ngFor="let country of countriesList; let i = index;">
          @defer (on viewport) {
            <mat-card>
              <img mat-card-image ngSrc="{{country['flags']['png']}}" width="400" height="200" priority alt="'Unable to load image'">
              <mat-card-content>
                <div class="country-name">
                  <strong>{{country?.name.common }}</strong>
                </div>
                <div class="country-info">
                  <div class="row">
                            <span class="label">
                              Population:
                            </span>
                    <span class="value">
                                {{ country?.population }}
                            </span>
                  </div>
                  <div class="row">
                            <span class="label">
                              Region:
                            </span>
                    <span class="value">
                                {{ country?.region }}
                            </span>
                  </div>
                  <div class="row">
                            <span class="label">
                              Capital:
                            </span>
                    <span class="value">
                                {{ country?.capital ? country?.capital[0] : '' }}
                            </span>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          } @placeholder {
            <div>Loading...</div>
          }
        </div>
    </div>
</div>
