<div class="main-container">
    <div class="main-container__header">
        <div [formGroup]="searchForm">
            <mat-form-field floatLabel="auto">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Search for a country" formControlName="searchTerm"/>
            </mat-form-field>
        </div>
    </div>
    <div class="main-container__country-list">
        <div class="main-container__country-list__item" *ngFor="let country of countriesList; let i = index;">
            <mat-card>
                <img mat-card-image ngSrc="{{country['flags']['png']}}" width="400" height="200" priority>
                <mat-card-content>
                    <div class="country-name">
                        <strong>{{country?.name.common }}</strong>
                    </div>
                    <div class="country-info">
                        <div class="row">
                            <span class="label">
                              Population:
                            </span>
                            <span class="value">
                                {{ country?.population }}
                            </span>
                        </div>
                        <div class="row">
                            <span class="label">
                              Region:
                            </span>
                            <span class="value">
                                {{ country?.region }}
                            </span>
                        </div>
                        <div class="row">
                            <span class="label">
                              Capital:
                            </span>
                            <span class="value">
                                {{ country?.capital ? country?.capital[0] : '' }}
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
