.main-container {
  display: flex;
  flex-direction: column;
  margin: 64px 48px 48px 48px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  &__country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      flex-basis: 400px;
      margin-bottom: 48px;
    }
  }
}

mat-card {
  background-color: var(--widgetColor);
  box-shadow: 5px 5px 5px 5px var(--bgColor);
  margin: 16px;

  &-img {
    height: 200px;
  }

  &-content {
      .country-name {
        color: var(--textColor);
        margin-top: 16px;
      }

      .country-info {
        margin-top: 16px;

        .row {
          margin-top: 6px;

          .label {
            color: gray;
          }

          .value {
            color: var(--textColor);
            margin-left: 6px;
          }
        }
      }
  }

  &:hover {
    cursor: pointer;
  }
}

mat-form-field {
  margin: 0 16px;
  width: 500px;
  box-shadow: 5px 5px 5px 5px var(--bgColor);
  border-radius: 10px 10px 10px 10px;
}

mat-label {
  color: var(--textColor);
}

::ng-deep {
  .mdc-text-field {
    &--filled, &--hovered {
      background-color: var(--widgetColor) !important;
    }
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: var(--widgetColor) !important;
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field-icon-prefix>.mat-icon {
    color: var(--textColor) !important;
  }

  .mat-mdc-select-arrow svg {
    fill: var(--textColor) !important;
  }
}
